.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 25px;
}
div.field {
    width: fit-content;
    height: fit-content;
    margin: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    flex-direction: row;
}
div.container-centered {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.inner-item {
    margin-left: 20px;
    margin-right: 20px;
}
.valid-style {
    height: 0px;
    width: 0px;
    margin: 0px;
}
.invalid-style {
    border-radius: 50px;
    height: 50px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: medium;
    animation: error-box 0.45s;
}
@keyframes error-box {
    0% {
        height: 0px;
        width: 0px;
        font-size: 0px;
    }
    100% {
        height: 50px;
        width: 100%;
        font-size: 16px;
    }
}
div.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.rating-textbox {
    width: 50px;
    margin-right: 0px;
    margin-top: -15px;
}
.zero-left-margin {
    margin-left: 2px;
}
.imagen {
    max-width: 85%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .imagen {
        max-width: 90%;
    }
}

/* Pequeños dispositivos (480px - 767px) */
@media (min-width: 480px) and (max-width: 767px) {
    .imagen {
        max-width: 80%;
    }
}

/* Teléfonos (menores a 480px) */
@media (max-width: 479px) {
    .imagen {
        max-width: 100%;
    }
}
button.clickme-button {
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 30px;
    /* background-image: linear-gradient(to left, rgb(0, 203, 0, 0.8), rgb(137, 137, 255, 0.8));*/
    
    background-color: #49739a;
    color: white;
    transition-duration: 0.5s;
}
button.clickme-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);;
    background-color: #263f7a;
}
.adjust {
    width: 64px;
    height: auto;
    max-width: 64px;
    transition: 0.4s;
    border-radius: 64px;
    margin-right: -15px;
}
.adjust:hover {
    filter: brightness(80%);
}
.key {
    width: 110px;
    max-width: 110px;
}
.loading {
    width: 48px;
    height: 48px;
    border: 3px solid black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loading::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #FF3D00 transparent;
}
  
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.super-container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.fade-in {
    margin-top: 30px;
    opacity: 100%;
    animation: fadein-animation 0.5s;
    margin-left: 13%;
}

@keyframes fadein-animation {
    0% {
        margin-left: 10%;
        opacity: 0%;
    }
    100% {
        margin-left: 13%;
        opacity: 100%;
    }
}
div.cursos-lista {
    width: 80%;
    height: fit-content;
    border: 1px solid black;
    box-shadow: 0px 0px 15px black;
    color:#263f7a;

}
div.curso {
    border: 1px solid rgb(0, 0, 0, 0);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s;
}
div.curso:hover {
    border: 1px solid rgb(0, 0, 0, 1);
}
.curso-img {
    height: 128px;
    width: 128px;
    min-width: 128px;
    max-width: 128px;
    min-height: 128px;
    max-height: 128px;
}
.flex-row-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 6px;
    height: 30%;
    width: 100%;
}
.adjust-mid {
    width: 28px;
    height: auto;
    transition: 0.4s;
    margin-left: 25px;
}
.button-holder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-image: url("");
    opacity: 0%;
    transition: 0.15s;
}
.curso:hover .button-holder {
    opacity: 100%;
}
.button-holder:hover .adjust-mid {
    rotate: 90deg;
    margin-left: 0px;
}
.button-holder:hover {
    width: 70%;
}
.button-holder:hover .delete-button {
    opacity: 100%;
}
.button-holder:hover .edit-button {
    opacity: 100%;
}
.flex-column-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 70%;
    width: 100%;
}
.percent {
    width: 100%;
}
.flex-column-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.mid {
    width: 70% !important;
}
.left-margin {
    margin-left: 18px;
}
.top-margin {
    margin-top: 15px;
    color:#263f7a;
    text-align: center;
    text-decoration: none;
}
.negative-margin {
    margin-top: -11px;
}
div.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 24px;
}
div.absolute-end {
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description {
    width: 100%;
    text-align: justify;
}.e {
    border-radius: 4px;
    padding: 5px;
    text-align: center;
}
.eliminar {
    margin-right: 10px;
    padding: 5px;
}
.boton-eliminar {
    margin-left: 10px;
    padding: 5px;
    background-image: linear-gradient(to left, rgba(203, 0, 0, 0.8), rgba(255, 137, 137, 0.8));
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.boton-eliminar:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);;
    background-color: black;
}
.thirty-percent {
    width: 30% !important;
}.container-vista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
}
.edit-button {
    width: 28px;
    height: 28px;
    max-width: 28px;
    max-height: 28px;
    background-color: transparent;
    border: none;
    background-image: url('https://i.imgur.com/QaqW2ge.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0%;
    transition: 0.15s;
}
.delete-button {
    width: 28px;
    height: 28px;
    max-width: 28px;
    max-height: 28px;
    background-color: transparent;
    border: none;
    background-image: url("https://i.imgur.com/S0wI7Nm.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0%;
    margin: 8px;
    transition: 0.15s;
}
.carousel-positioning {
    width: 70%;
    height: 500px;
    box-shadow: 0px 0px 5px gray;
}
.card-curso{
    width: 790px;
    height: 50%;
    margin:auto;
    margin-top: 25px;
    text-align: justify;
    padding: 35px;
}.centrar{
    text-align: center;
    color:#263f7a;
    font-family: 'Playfair Display';
}.descripcion{
    font-family: 'Rubik';
}